@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{

    background-color: #020f24;
    color: #cfe5fc;
    font-family: 'Noto Sans Syriac', sans-serif;
}


/* Cabeçalho e links.*/

header{

    border-bottom: 0.1vw solid rgba(207, 229, 252, 0.2);
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #020f24ce;
    z-index: 10;
}

header nav{

    display: flex;
    justify-content: center;
    align-content: center;

}


header nav li{

    display: inline;
    margin-left: 1.5vw;
    font-size: 100%;
    position: relative;

}


header nav li a{
    
    color: #cfe5fc;
    text-decoration: none;
    transition: all ease 0.3s;
    display: inline-block;
}

header nav li a:hover{
    
    transform: translateY(-2px);
    filter: brightness(110%);
    
}


header .container{

    padding: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}


.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/*Começo do "Sobre mim:"*/

#sobremim{

    display: flex;
    flex-direction: row;
    padding-top: 14%;
    justify-content: center;
    gap: 1%;

}


#sobremim .contmim{

    display: flex;
    gap: 4%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    padding: 2%;
    border-radius: 30px;
    width: 40%;

}


#contatos ul{

    display: flex;
    flex-direction: row;
    gap: 30%;
    align-items: center;
    padding-top: 55%;
    list-style: none;
    margin: 0 auto;

}

#contatos li a{


    font-size: 90%;
    font-weight: bolder;
    text-decoration: none;
    color: #cfe5fc;
    position: absolute;
    transition: ease 0.3s;

}

#contatos li a:hover{

    font-size: 95%;
    filter: brightness(110%);

}


#sobremim > #sobre{ /* Texto do sobre mim.*/

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}


#sobremim h1{
    font-size: 3vw;
}

#sobremim{ 

    padding-bottom: 2%;
    position: relative;
    z-index: 1;
}

#sobremim::before{ /*Antes do container "sobremim", com z-index: -1; para ficar atras.*/

    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(midia/f7a7349f0cc57a370203a7b1f9fbb113.gif) no-repeat center center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;

}



#sobremim .contmim > img{ /* Imagem flor/*/
    display: flex;
    position: relative;
    flex-direction: row;
    width: 250px;
    
}

#sobremim #gatoapontando{ /* Imagem gato*/
    display: flex;
}


#maissiteabaixo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
    
}

.iconmouse{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5vw;
    padding-top: 0vw;
    border-radius: 30px;
    
}

.iconmouse img{
    width: 5vw;
    border-radius: 30px;
    margin-bottom: 0.5vw;
}




/*Começo do "Estou aprendendo:"*/


#aprendendo{

    width: 100%;
    padding: 0.9vw;
    margin-top: 13vw;

}


#aprendendo > h1{

    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 0.5vw;

}


#aprendendo > p{

    border-bottom: 0.1vw solid rgba(207, 229, 252, 0.2);
    width: 50%;
    display: flex;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 8vw;

}

#aprendendo .container3{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
    align-items: stretch;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    
}


#aprendendo .container3 .linhaicon{

    width: 10vw;
    background-color: #05204D;
    padding: 0.05vw;
    display: flex;
    margin-bottom: 0.8vw;

}


#aprendendo .container3 .icons{

    width: 5vw;
    background-color: #87f10f;
    border-radius: 20%;
    padding: 0.8vw;
    display: flex;

}



#aprendendo .container3 .bloco h1{

    font-size: 2vw;
    font-weight: bold;

}


#aprendendo .container3 .bloco h2{

    text-align: center;
    font-size: 1.2vw;
    font-weight: normal;

}


#aprendendo .container3 .bloco{

    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 120px;
    

}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;

}

footer #footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    padding-top: 1vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 3vw;

}

footer form input, form textarea,
form button{
    font-family: 'Noto Sans Syriac', sans-serif;
    background-color: #cfe5fc;
    display: block;
    width: 12vw;
    height: 2vw;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.2vw;
    text-align: center;
}

footer form textarea{

    padding-top: 10px;
}

footer form button{
    margin-top: 0.3vw;
    background-color: #87f10f;
    cursor: pointer;
    transition: all ease 0.2s;
}

footer form button:hover{
    background-color: #c7ff87;
    transform: translateY(-2px);
}

footer form ::placeholder{
    color: #020f24;
}

footer form p{
    margin-top: 2vw;
}

footer form textarea{
    resize: none;
}

footer h5, h4{
    margin-bottom: 1vw;
    font-weight: bold;
}

footer nav ul{
    list-style: none;


}

footer nav li{
    margin-top: 0.5vw;

}

footer .linksContatos{
    margin-left: 10vw;


}

footer nav a{
    padding-left: 0.1vw;
    color: #cfe5fc;
    text-decoration: none;
    transition: all ease 0.2s;
    display: inline-block;

}

footer nav a:hover{
    filter: brightness(110%);
    transform: scale(103%);
    
}